{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}

{% block title %}
    ABOUT PAGE
{% endblock %}

{% block content %}
<h1 class=" d-flex justify-content-center">About Page</h1>

<div class="bg-warning-subtle">
    <h3>The Fallout News Blog</h3>
    <div class="d-flex justify-content-center bg-danger-subtle">
        <img width="500" src="https://media.istockphoto.com/id/2256793703/vector/atomic-age-retro-science-fiction-world-news-alert-concept-web-banner-template-background.jpg?s=2048x2048&w=is&k=20&c=phAJsvTXHqBzzAAySQ8_jwQi6p0N2oLcf_FHKWHnQpE=" alt="">
    </div>
</div>
<div>
    <h2>Fallout Blog</h2>
</div>
<div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, voluptatum praesentium odio optio pariatur ab cum perferendis? Explicabo soluta facere molestias id a aut facilis molestiae, voluptatum magnam esse omnis?</p>
</div>


    
{% endblock content %}